header {
	background-color: #5590e8;
}
header ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header ul li {
    float: left;
}

header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
}

 /*Change the link color to #111 (black) on hover*/
header ul li a:hover {
    background-color: #111;
}
ul {
    width:50%;
    display: inline;
}

h1 {
	font-family: "Arial Black";
}

h2 {
	font-family: "Arial Black";	
}

.content {
	background-color: #a5a5a5;
}

.google-search {
    float: right;
    display: inline;
    padding-top:15px;
    padding-right:15px;  
}
.nav-bar {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
    width: 100%;
}
.link-bar {
    float: left;
}